{{ define "main" }}
  <div class="content-wrap">
  <section class="list{{ if eq .Lang "kn" }} kannada-content{{ end }}">
    <h1>{{ .Title }}</h1>
    {{ range .Pages.ByLastmod.Reverse }}
    <article class="list-item">
      <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
      <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
      {{ with .Description }}<p>{{ . }}</p>{{ else }}{{ with .Summary }}<p>{{ . }}</p>{{ end }}{{ end }}
    </article>
    {{ else }}
    <p>No posts yet.</p>
    {{ end }}
  </section>
  </div>
{{ end }}
